@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Real-Time View Counter</h1>
    <div id="counter">@Model.Counter</div>
    <div id="connectionStatus">Connection Status: <span>&bull;</span></div>
</div>
